@import 'nib'
@import url('http://getshar.es/fonts/0.8.0/zocial.css')

loader-color(c)
  box-shadow 0px -7px 0px c, 5px -5px 0px rgba(c,.9), 7px 0px 1px rgba(c,.8), 5px 5px 1px rgba(c,.7), 0px 7px 2px rgba(c,.6), -5px 5px 2px rgba(c,.5), -7px 0px 3px rgba(c,.4), -5px -5px 3px rgba(c,.3)


.getshare
  position relative
  display inline-block
  height 20px
  margin 5px
  input[type=checkbox]
    display none
  .getshare-button
    cursor pointer
    display inline-block
    height 16px
    text-decoration none
    font-family Arial, Sans-Serif
    font-size 14px
    line-height 16px
    border-radius 2px
    min-width 58px
    text-align left
    padding 2px
    color #FFF
    &:before
      font-size 12px
      margin-left 1px
      vertical-align 1px
      display inline-block
      width 17px
      text-align center
      font-family 'zocial-0-8-0', sans-serif
    &.getshare-button-none
      background-color #3B96D4
      &.getshare-icon:before
        content: 'None'
      .split
        color #3B96D4
    &.getshare-button-twitter
    &.getshare-button-twitterProfile
      background-color #2DAAE1
      &.getshare-icon:before
        content: 'T'
      .split
        color #2DAAE1
    &.getshare-button-facebook
    &.getshare-button-facebookFollower
      background-color #3B5998
      &.getshare-icon:before
        content: 'f'
      .split
        color #3B5998
    &.getshare-button-pinterest
    &.getshare-button-pinterestPins
    &.getshare-button-pinterestFollower
      background-color #CA2128
      &.getshare-icon:before
        content: 'p'
      .split
        color #CA2128
    &.getshare-button-linkedin
      background-color #1783BC
      &.getshare-icon:before
        content: 'L'
      .split
        color #1783BC
    &.getshare-button-delicious
      background-color #2873CC
      &.getshare-icon:before
        content: '#'
      .split
        color #2873CC
    &.getshare-button-reddit
      background-color #F26110
      &.getshare-icon:before
        content: 'R'
      .split
        color #F26110
    &.getshare-button-googleplus
      background-color #DD4B39
      &.getshare-icon:before
        content: '+'
      .split
        color #DD4B39
    &.getshare-button-flattr
      background-color #66B115
      &.getshare-icon:before
        content: '%'
      .split
        color #66B115
    &.getshare-button-stumbleupon
      background-color #EA4B24
      &.getshare-icon:before
        content: 'S'
      .split
        color #EA4B24
    &.getshare-button-buffer
      background-color #999
      &.getshare-icon:before
        content: 'b'
      .split
        color #999
    &.getshare-button-vk
      background-color #4B709A
      &.getshare-icon:before
        content: 'V'
      .split
        color #4B709A
    &.getshare-button-pocket
      background-color #EE4056
      &.getshare-icon:before
        content: 'P'
      .split
        color #EE4056
    &.getshare-button-weibo
      background-color #EB182C
      &.getshare-icon:before
        content: 'W'
      .split
        color #EB182C
    &.getshare-button-githubProfile
    &.getshare-button-githubRepository
      background-color #BBB
      &.getshare-icon:before
        content: 'g'
      .split
        color #BBB
    &.getshare-button-dribbblePlayerLikes
    &.getshare-button-dribbblePlayerFollowers
    &.getshare-button-dribbbleShot
      background-color #EA4C89
      &.getshare-icon:before
        content: 'D'
      .split
        color #EA4C89
    &.getshare-button-youtubeSubscriber
      background-color #c4302b
      &.getshare-icon:before
        content: 'y'
      .split
        color #c4302b
    &.getshare-button-xing
      background-color #126567
      &.getshare-icon:before
        content: 'X'
      .split
        color #126567
    &.getshare-button-instagram
      background-color #3f729b
      &.getshare-icon:before
        content: 'I'
      .split
        color #3f729b
    &.getshare-button-surfingbird
      background-color #26B1F6
      &.getshare-icon:before
        content: 's'
      .split
        color #26B1F6
    &.getshare-button-hackernews
      background-color #F60
      &.getshare-icon:before
        content: 'Y'
      .split
        color #F60
    &.getshare-button-bitcoin
      background-color #EBB837
      &.getshare-icon:before
        content: 'BTC'
      .split
        color #EBB837
    &.getshare-button-litecoin
      background-color #909090
      &.getshare-icon:before
        content: 'LTC'
      .split
        color #909090
    &.getshare-button-feathercoin
      background-color #9F9078
      &.getshare-icon:before
        content: 'FTC'
      .split
        color #9F9078
    &.getshare-button-freicoin
      background-color #9A9A9A
      &.getshare-icon:before
        content: 'FRC'
      .split
        color #9A9A9A
    &.getshare-button-terracoin
      background-color #FCC617
      &.getshare-icon:before
        content: 'TRC'
      .split
        color #FCC617
    &.getshare-button-peercoin
      background-color #D8AD22
      &.getshare-icon:before
        content: 'PPC'
      .split
        color #D8AD22
    &.getshare-button-novacoin
      background-color #DEB75F
      &.getshare-icon:before
        content: 'NVC'
      .split
        color #DEB75F
    &.getshare-button-bbqcoin
      background-color #F74913
      &.getshare-icon:before
        content: 'BQC'
      .split
        color #F74913
    &.getshare-button-bytecoin
      background-color #1D933E
      &.getshare-icon:before
        content: 'BTE'
      .split
        color #1D933E
    &.getshare-button-bitbar
      background-color #E1CA87
      &.getshare-icon:before
        content: 'BTB'
      .split
        color #E1CA87
    &.getshare-button-digitalcoin
      background-color #000101
      &.getshare-icon:before
        content: 'DGC'
      .split
        color #000101
    &.getshare-button-jkcoin
      background-color #B18343
      &.getshare-icon:before
        content: 'JKC'
      .split
        color #B18343
    &.getshare-button-frankos
      background-color #0733CE
      &.getshare-icon:before
        content: 'FRK'
      .split
        color #0733CE
    &.getshare-button-goldcoin
      background-color #F5D138
      &.getshare-icon:before
        content: 'GLD'
      .split
        color #F5D138
    &.getshare-button-worldcoin
      background-color #276D42
      &.getshare-icon:before
        content: 'WDC'
      .split
        color #276D42
    &.getshare-button-craftcoin
      background-color #32C76A
      &.getshare-icon:before
        content: 'CRC'
      .split
        color #32C76A
    &.getshare-button-quarkcoin
      background-color #3F93DF
      &.getshare-icon:before
        content: 'QRK'
      .split
        color #3F93DF
    &.getshare-button-codepenProfile
    &.getshare-button-codepenPen
      background-color #222
      &.getshare-icon:before
        content: 'c'
      .split
        color #222
    &.getshare-button-none
    &.getshare-button-hackernews
    &.getshare-button-bitcoin
    &.getshare-button-litecoin
    &.getshare-button-feathercoin
    &.getshare-button-freicoin
    &.getshare-button-terracoin
    &.getshare-button-peercoin
    &.getshare-button-novacoin
    &.getshare-button-bbqcoin
    &.getshare-button-bytecoin
    &.getshare-button-bitbar
    &.getshare-button-digitalcoin
    &.getshare-button-jkcoin
    &.getshare-button-frankos
    &.getshare-button-goldcoin
    &.getshare-button-worldcoin
    &.getshare-button-craftcoin
    &.getshare-button-quarkcoin
      &.getshare-icon:before
        font-family Arial, Sans-Serif
        font-size 9px
        vertical-align 1px
        margin-left 0px
    &.getshare-button-none
      &.getshare-icon:before
        font-size 8px
        vertical-align 2px
  .getshare-text
    font-size 10px
    vertical-align 2px
  .getshare-counter
    display inline-block
    margin 1px 3px
    font-family Arial, Sans-Serif
    font-size 10px
    &.split
    &.inside
      float right
    &.split
      background-color #FFF
      border-radius 0 2px 2px 0
      padding-right 3px
      text-align right
      line-height 19px
      width 36px
      margin-top -2px
      margin-right -2px
      padding-top 1px
      &.getshare-loader
        padding 2px 3px 2px 0
      &.border
        line-height 17px
        width 35px
        margin-top -1px
        margin-right -1px
        &.getshare-loader
          padding 1px 3px 1px 0
      &.getshare-loader:before
        margin 7px 9px !important
        loader-color(#000)
    transition color 1s
    &.getshare-loader
      color rgba(0,0,0,0) !important
      &:before
        content ''
        display block
        float right
        width 2px
        height 2px
        opacity 0.5
        border-radius 50%
        margin 6px 9px 8px 9px !important
        loader-color(#FFF)
        transform-origin 50%
        animation getshareloader 0.5s steps(16, end) infinite
      .border:before
        margin 7px 9px !important
  .getshare-popover
    z-index 999
    display none
    position absolute
    background-color #F3F4F5
    border 1px solid #E3E4E5
    text-align right
    padding 3px 5px
    box-sizing border-box
    border-radius 2px
    box-shadow inset 1px 1px 0 rgba(255, 255, 255, .2)
    &:after
      content ''
      display block
      width 5px
      height 5px
      background-color #F3F4F5
      position absolute
      transform rotate(45deg)
      border-radius 2px
      z-index 998
    &.right
      &:after
        left 0
        margin-left 20px
    &.left
      right 0
      &:after
        right 0
        margin-right 20px
    &.top
      margin -5px 0
      &:after
        margin-bottom -3px
        bottom 0
        border-bottom 1px solid #E3E4E5
        border-right 1px solid #E3E4E5
    &.bottom
      top auto !important
      margin 5px 0
      &:after
        margin-top -3px
        top 0
        border-top 1px solid #E3E4E5
        border-left 1px solid #E3E4E5
    label
      cursor pointer
      position absolute
      right 5px
    > div
      text-align left
      width 100%
      height 100%
    iframe
      border 0
      width 100%
      height 100%
    .getshare-coin-address
      width 100%
      text-align center
      border none
    .getshare-coin-link
      display inline-block
      text-align center
      width 100%
      color #6495ED
  input[type=checkbox]
    &:checked
    &[checked=checked]
      ~ .getshare-popover
        display block

@keyframes getshareloader
  0%
    transform rotate(0)
  100%
    transform rotate(360deg)
